# Node modules
node_modules/

# TypeScript build output
dist/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Optional: Debug files
*.tsbuildinfo
